<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h2>Edit Your Posting</h2>
                <div class = "small-heading", style="color:red">(All fields required.)</div>
            </div>

            <div class="panel-body">

                <%= simple_form_for(@listing, html: { multipart: true, class: 'form-horizontal' }) do |f| %>

                <div class="input-group">
                    <div class="input-group-addon">Main Category</div>
                    <div class="form-control">
                        <%= f.select :category_id, Category.all.map {|f| [f.name, f.id]}, include_blank: true %>
                    </div>
                </div>
                <br>

                <div class="input-group">
                    <div class="input-group-addon">Sub Category</div>
                    <div class="form-control">
                        <%= f.select :subcategory_id, Subcategory.all.map {|f| [f.name, f.id]}, include_blank: true %>
                    </div>
                </div>
                <br>

                <div class="input-group hidden text-warning" id="payment_form">
                    <div>* This category will require payment on the next page to complete creating a listing.</div>
                    <br>
                </div>

                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <%= f.text_field :price, autofocus: true, class:"form-control" %>
                </div>
                <br>

                <div class="input-group">
                    <div class="input-group-addon">Posting Title</div>
                    <%= f.text_field :title, class: "form-control" %>
                </div>
                <br>

                <div class="input-group">
                    <div class="input-group-addon">City</div>
                    <%= f.text_field :city, class: "form-control" %>
                </div>
                <br>

                <div class="input-group">
                    <div class="input-group-addon">State</div>
                    <%= f.text_field :state, class: "form-control" %>
                </div>
                <br>

                <div class="input-group">
                    <div class="input-group-addon">Zip</div>
                    <%= f.text_field :zipcode, class: "form-control", maxlength: "5" %>
                </div>
                <br>

                <div class="input-group">
                    <div class="input-group-addon">Video</div>
                    <%= f.file_field :media, class: "form-control" %>
                </div>
                <br>

                <div class="input-group">
                    <div class="input-group-addon">Description</div>
                    <%= f.text_area :description, class: "form-control" %>
                </div>
                <br>

                <div class="input-group">
                    <div class="actions">
                        <%= f.submit "Update Your Post", class: "btn btn-success" %>
                    </div>
                </div>

                <% end %>

            </div>
        </div>
    </div>
</div>

<%= javascript_include_tag 'listings.js' %>
