<br>
<div class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Edit Your Account</h2>
    </div>

    <div class="panel-body">

      <%= simple_form_for(@listing, html: { multipart: true, class: 'form-horizontal' }) do |f| %> 

      <div class="input-group">
        <div class="input-group-addon">$</div>
        <%= f.text_field :price, autofocus: true, class:"form-control", style: 'width: 200px' %>
      </div>
      <hr>

      <div class = "small-heading">You can edit the Category/Subcategory to place your ad.</div>

      <div class="input-group">
        <div class="input-group-addon", style= "color: red">Category</div>
        <div class="form-control", style= "width: 120px">
          <%= f.select :category_id, Category.all.map {|f| [f.name, f.id]}  %>
        </div>
      </div>

      <div class="input-group">
        <div class="input-group-addon", style= "color: red">Sub-category</div>
        <div class="form-control", style= "width: 220px">
          <% f.select :subcategory_id, SubCategory.all.map {|f| [f.name, f.id]}  %>
        </div>
      </div>
      <hr>

      <div class="input-group">  	
        <div class="input-group-addon" id="basic-addon2">Ad Title</div>
        <%= f.email_field :title, class: "form-control" %> 
      </div>
      <br />

      <div class="input-group">
        <div class="input-group-addon" id="basic-addon2">Your Website</div>
          <%= f.email_field :ademail, class: "form-control" %> 
      </div>
      <br />
      
      <div class="input-group">
        <div class="input-group-addon" id="basic-addon2">My City</div>
          <%= f.text_field :city, class: "form-control" %>
        </div>
        <br />
        
        <div class="input-group">
          <div class="input-group-addon" id="basic-addon2">My State</div>
          <%= f.text_field :state, class: "form-control" %>
        </div>
        <br />
        
        <div class="input-group">
          <div class="input-group-addon" id="basic-addon2">My Zipcode</div>
            <%= f.text_field :zipcode, class: "form-control", style: 'width: 100px', maxlength: "5" %>
        </div>
        <br />
          
        <div class="input-group">
          <div class="input-group-addon" id="basic-addon2">My Video Ad</div>
          <%= f.file_field :pin_image, class: "form-control", style: "width: 220px"%>
        </div>
        <br />

        <div class="input-group">
          <div class="input-group-addon" id="basic-addon2">Description</div>
            <%= f.text_area :description, class: "form-control" %>
        </div>
        <br />
        
        <div class="input-group">			  	
          <div class="actions">  
            <%= f.submit "Update My Ad", class: "btn btn-success" %>
          </div>
        </div>	
      </div>

      <% end %>

    </div>
  </div>
</div>
<%= javascript_include_tag 'listings.js' %>
