<div style="height: 15px; width: 100%;"></div>

<div class="container_12">
<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <%= link_to 'Connechub', root_path %> > my listings
    </div>
  </div>
</div>

<div class = "grid transitions-enabled">
  <% if @listings.present? %>
  <% @listings.each do |listing| %>
      <div class="panel panel-default pin-item">
          <div class="panel-body">
            <%= link_to (videojs_rails sources: {mp4: listing.pin_image.url, webm: listing.pin_image.url},  controls: false, setup: "{}", class: 'img-responsive'), listing %>
          </div>
            <div class="panel-footer pin-content"> 
            <div class="price"><b>$<%= listing.price %></b></div>
            <div class="name"><b><%= link_to listing.title, listing %></b></div>
            <div class="description"><%= listing.city %>, <%= listing.state %></div>
          <hr>
            <small class = "board-name"><%= listing.created_at.strftime('%B %d, %Y') %></small>
          </div>
      </div>
  <% end %>
  <% else %>
    <p>No listings found!</>
  <% end %>
</div>
<br>

</div>