<div class="container_12">
    <%= link_to 'Connechub', root_path %>
    <hr>

    <div class="leftbar_old col-xs-6 col-sm-8 col-md-10">

    <div class = "grid transitions-enabled">
        <% if @listings.present? %>
            <% @listings.each do |listing| %>
            <div class="panel panel-default pin-item">
                <div class="panel-body">
                    <%= render :partial => 'partials/item_card', locals: {listing: listing}  %>
                </div>
                    <div class="panel-footer pin-content">
                    <div class="price"><b>$<%= listing.price %></b></div>
                    <div class="name"><b><%= link_to listing.title, listing %></b></div>
                    <div class="description"><%= listing.city %>, <%= listing.state %></div>
                    <small class = "board-name"><%= listing.created_at.strftime('%B %d, %Y') %></small>
                    <hr>
                    <div>
                        <%= image_tag listing.user.avatar.url(:thumb), class: 'pin-avatar'%>
                            <b><%= link_to listing.user.username, user_path(listing.user.username) %></b>
                    </div>
                </div>
            </div>
            <% end %>
        <% else %>
        <p>No listings found!</>
        <% end %>
    </div>
</div>
<br>

<div class="rightbar0 col-xs-6 col-sm-4 col-md-2">
  <%= render :partial => 'categories/sidebar_search_form'  %>
  <br>
  <%= render :partial => 'categories/more_categories', locals: {all_categories: all_categories}  %>
  <br>
</div>
