<%= render :partial=> 'partials/header_search_bar', locals: {
  title: @listing.title
  } %>

<!-- Ads Details Start -->
<div class="section-padding">
  <div class="container">

    <!-- Search Widget -->
    <div class="col-md-12">
        <div class="breadcrumb-wrapper"></div>
            <ol class="breadcrumb">
                <%= link_to 'Connechub' , root_path %>&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
                <%= @listing.category.name %>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
                <%= @listing.subcategory.name %>
            </ol>
        </div>
      <!-- Product Info Start -->
      <div class="product-info row">
        <div class="col-lg-8 col-md-12 col-xs-12">
          <div class="ads-details-wrapper">
            <div class="product-img">
                <% # source https://stackoverflow.com/questions/18169473/video-js-size-to-fit-div %>
                <% # source https://stackoverflow.com/questions/20051332/videojs-centered-play-button %>
                <% # source https://stackoverflow.com/questions/5879209/how-to-center-html5-videos %>
                <video
                    class="center video-js vjs-default-skin vjs-big-play-centered"
                    controls=controls
                    data-setup='{}'
                    height="450"
                    poster="https://<%= ENV['AWS_S3_MEDIA_DISPLAY_BUCKET'] %>.s3<%= (ENV['REGION'] == 'us-east-1' ? "" : "-" + ENV['REGION']) %>.amazonaws.com/<%= URI::encode(@listing.media_file_name) %>-2m-00001.png"
                    preload=preload
                    width="450"
                >
                    <source
                        src="https://<%= ENV['AWS_S3_MEDIA_DISPLAY_BUCKET'] %>.s3<%= (ENV['REGION'] == 'us-east-1' ? "" : "-" + ENV['REGION']) %>.amazonaws.com/<%= URI::encode(@listing.media_file_name) + "_playlist.m3u8" %>"
                        type="application/x-mpegURL"
                    />
                    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video.</a></p>
                </video>
            </div>
            <span class="price">$<%= @listing.price %></span>
          </div>
          <!-- Ad Details will be placed here -->
          <div class="details-box">
            <div class="ads-details-info">
              <h2><%= @listing.title %></h2>
              <div class="details-meta">
                <span><i class="lni-alarm-clock"></i> <%= @listing.created_at.strftime("%B %e, %Y") %></span>
                <span><i class="lni-map-marker"></i> <%= @listing.city %>, <%= @listing.state %> <%= @listing.zipcode %></span>
                <span><i class="lni-eye"></i> <%= Listing.listing_views(@listing.id) %> View</span>
                <span>
                <% if params[:action]==='show' %>
                    <a
                        href="mailto:admin@connechub.com?subject=Reporting%20Post%20<%= @listing.id %>&body=I%20would%20like%20to%20report%20this%20ConnecHub%20post%20for%20violating%20the%20TOS%20/%20EULA%20or%20other%20reason%20(please explain)."
                        style="color:red"
                        target="_new"
                    >
                        <i class="fa fa-flag"></i> Report This Listing
                    </a>
                <% end %>
                </span>
              </div>
              <p class="mb-4">
                <%= @listing.description %>
              </p>
            </div>
            <div class="tag-bottom">
              <div class="float-left">
                <ul class="advertisement">
                  <li>
                    <p><strong><i class="lni-folder"></i> Categories:</strong>
                        <%= link_to @listing.subcategory.name, category_subcategory_path(@listing.category, @listing.subcategory) %>
                    </p>
                  </li>
                  <li>
                    <p><strong><i class="lni-archive"></i> Condition:</strong> <%= "#{@listing.condition.value}" %></p>
                  </li>
                  <li>

                    <% if @user.present? %>
                        <%= link_to like_listing_path(@listing), class: 'pull-right' do %>
                            <p><strong><i class="lni-heart"></i> Likes:</strong> <%= @listing.votes_for.size %></p>
                        <% end %>
                    <% else %>
                        <p><strong><i class="lni-heart"></i> Likes:</strong> <%= @listing.votes_for.size %></p>
                    <% end %>

                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <!--Sidebar-->
          <aside class="details-sidebar">
            <div class="widget">
              <h4 class="widget-title">Ad Posted By</h4>
              <div class="agent-inner">
                <div class="agent-title">
                  <div class="agent-photo">
                    <%= link_to user_path(@listing.user.username) do %>
                      <%= image_tag(
                        @listing.user.avatar.url(:thumb),
                        class: "avatar",
                        onerror: "this.onerror=null;this.src='/assets/image_coming_soon.jpg';"
                      ) %>
                    <% end %>
                  </div>
                  <div class="agent-details">
                    <h3>
                      <%= link_to user_path(@listing.user.username) do %>
                        <%= @listing.user.username %>
                      <% end %>
                    </h3>
                  </div>
                </div>
                <div class="mb-4">
                  <object
                    style="border:0; height: 230px; width: 100%;"
                    data="https://maps.google.com/maps?q=<%= @listing.latitude %>,<%= @listing.longitude %>&hl=en&z=11&output=embed">
                  </object>
                </div>
                <% # enumerate communication options only if user is signed in %>
                <div style="text-align:center;">
                  <% if user_signed_in? %>
                  <a
                    class="btn btn-success btn-sm"
                    href="mailto:<%= @listing.user.email %>?subject=<%= URI.encode(@listing.title) %>"
                    target="_blank"
                  >Email to seller</a>
                  <% end%>
                </div>
                <hr>
                <%= render :partial => 'comments/comment' %>
              </div>
            </div>

          </aside>
          <!--End sidebar-->
        </div>
      </div>
      <!-- Product Info End -->

    </div>
  </div>
</div>
  <!-- Listing Details End -->