<div class="comments">
    <% if user_signed_in? %>
        <h4 class="widget-title"> <i class="lni lni-comments-alt"></i> Post a Comment </h4>
        <%= render :partial => 'comments/form' %>
        <hr>
    <% end %>

    <div>
        <small><b>This post has <%= pluralize(@comments.count, "Comment") %></b></small>
    </div>

    <hr>

    <% @comments.each do |comment| %>
    <div class="post-metadata">
        <div class="agent-title">
            <div class="agent-photo">
                <%= image_tag(
                    comment.user.avatar.url(:thumb),
                    alt: comment.user.username,
                    onerror: "this.onerror=null;this.src='/assets/no-photo-available.png';"
                ) %>
                <%= link_to comment.user.username, user_path(comment.user.username) %>
            </div>
            <div class="post-info">
                <small><%= comment.body %></small>
            </div>
        </div>
    <% end %>
</div>
<br>
