<!-- Header Area wrapper Starts -->
<header id="header-wrap">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
    <div class="container">
        <div class="theme-header clearfix">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="lni-menu"></span>
            <span class="lni-menu"></span>
            <span class="lni-menu"></span>
            </button>
            <a href="/" class="navbar-brand"><img src="/assets/img/ch_small_grey.png" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-left">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories <i class="lni-chevron-down"></i>
                </a>
                <ul class="dropdown-menu">
                <% @categories.each do |category| %>
                    <li><a class="dropdown-item" href="/categories/<%= category.id %>"><i class="fas fa-<%= category.icon %>"></i><%= category.name %></a></li>
                <% end %>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">
                Contact
                </a>
            </li>
            </ul>
            <% if user_signed_in? %>
            <div class="header-top-right float-right">
            <%= link_to 'Your Profile', user_path(current_user.username) %>
            <%= link_to 'Edit Your Account', edit_user_registration_path %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
            </div>
            <% else %>
            <div class="header-top-right float-right">
            <a href="login" class="header-top-button"><i class="lni-lock"></i> Log In</a> |
            <a href="register" class="header-top-button"><i class="lni-pencil"></i> Register</a>
            </div>
            <% end %>
            <div class="post-btn">
            <a class="btn btn-common" href="<%= new_listing_path %>"><i class="lni-pencil-alt"></i> Post an Ad</a>
            </div>
        </div>
        </div>
    </div>
    <div class="mobile-menu" data-logo="assets/img/ch_small_grey.png"></div>
    </nav>
    <!-- Navbar End -->
</header>
<!-- Header Area wrapper End -->