
<table class="table table-responsive dashboardtable tablemyads">
    <thead>
        <tr>
            <th>Thumbnail</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% @user_listings_user_active.each do |listing| %>
        <tr>
            <td class="photo">
                <%= link_to listing_path(listing.id) do %>
                    <%= image_tag(
                        "https://" + ENV['AWS_S3_MEDIA_DISPLAY_BUCKET'] + ".s3" + (ENV['REGION'] == 'us-east-1' ? "" : "-" + ENV['REGION']) + ".amazonaws.com/" +  URI::encode(listing.media_file_name) + "-2m-00001.png",
                        alt: current_user.username,
                        class: "img-fluid",
                        onerror: "this.onerror=null;this.src='/assets/no-photo-available.png';"
                    ) %>
                <% end %>
            </td>
            <td data-title="Title"><h3><%= listing.title %></h3></td>
            <td data-title="Category"><span class="adcategories"><%= listing.description %></span></td>
            <td data-title="Price"><h3>$<%= listing.price %></h3></td>
            <td data-title="Action">
                <div class="btns-actions">
                    <%= link_to listing_path(listing.id), method: :get, class: 'btn-action btn-view' do %>
                        <i class="lni-eye"></i>
                    <% end %>
                    <%= link_to listing_path(listing.id)+"/edit", method: :put, class: 'btn-action btn-edit' do %>
                        <i class="lni-pencil"></i>
                    <% end %>
                    <%= link_to "/listings/upload/#{listing.id}", class: 'btn-action btn-edit' do %>
                        <i class="lni-video"></i>
                    <% end %>
                    <%= link_to listing_path(listing.id)+"/delete", method: :delete, class: 'btn-action btn-delete' do %>
                        <i class="lni-trash"></i>
                    <% end %>
                </div>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>