
<table class="table table-responsive dashboardtable tablemyads">
    <thead>
        <tr>
            <th>Thumbnail</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <% if current_user.username == params['username'] %>
            <th>Action</th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @user_listings_user_active.each do |listing| %>
        <% if listing.price.to_s != "0" %>
        <tr style="background-color:#C7EED4">
        <% else %>
        <tr>
        <% end %>
            <td class="photo">
                <%= link_to listing_path(listing.id) do %>
                    <%= image_tag(
                        "https://" + ENV['AWS_S3_MEDIA_DISPLAY_BUCKET'] + ".s3" + (ENV['REGION'] == 'us-east-1' ? "" : "-" + ENV['REGION']) + ".amazonaws.com/" +  URI::encode(listing.media_file_name) + "-2m-00001.png",
                        alt: current_user.username,
                        class: "img-fluid",
                        onerror: "this.onerror=null;this.src='/assets/image_coming_soon.jpg';"
                    ) %>
                <% end %>
            </td>
            <td data-title="Title"><h3><%= listing.title %></h3></td>
            <td data-title="Category"><span class="adcategories"><%= listing.description.truncate(128) %></span></td>
            <td data-title="Price"><h3>$<%= listing.price %></h3></td>
            <% if current_user.username == params['username'] %>
            <td data-title="Action">
                <div class="btns-actions">
                    <%= link_to listing_path(listing.id)+"/edit", method: :put, class: 'btn-action btn-edit' do %>
                        <i class="lni-pencil"></i>
                    <% end %>
                    <%= link_to "/listings/upload/#{listing.id}", class: 'btn-action btn-edit' do %>
                        <i class="lni-video"></i>
                    <% end %>

                    <% if listing.sold.nil? %>
                        <%= link_to "/listings/sold/#{listing.id}", method: :patch, data: { confirm: 'Did this listing sell?' }, class: 'btn-action btn-view' do %>
                            <i class="lni-thumbs-up"></i> 
                        <% end %>
                    <% end %>
                    <% if listing.sold %>
                        <%= link_to "/listings/unsold/#{listing.id}", method: :patch, data: { confirm: 'Re-enable this list using original expiration date?' }, class: 'btn-action btn-view' do %>
                            <i class="lni-thumbs-down"></i> 
                        <% end %>
                    <% end %>

                    <br />
                    <%= link_to listing_path(listing.id), class: 'btn-action btn-view' do %>
                        <i class="lni-eye"></i>
                    <% end %>
                    <%= link_to listing_path(listing.id)+'/delete', class: 'btn-action btn-delete' do %>
                        <i class="lni-trash"></i>
                    <% end %>
                </div>
            </td>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>