
<table class="table table-responsive dashboardtable tablemyads" width="100%">
    <thead>
        <tr>
            <th>Thumbnail</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% @user_listings_user_active.each do |listing| %>
        <tr data-category="active">
            <td class="photo">
                <img
                    alt="<%= listing.title %>"
                    class="img-fluid"
                    src="https://<%= ENV['AWS_S3_MEDIA_DISPLAY_BUCKET'] %>.s3<%= (ENV['REGION'] == 'us-east-1' ? "" : "-" + ENV['REGION'])  %>.amazonaws.com/<%= URI::encode(listing.media_file_name) %>-2m-00001.png"
                >
            </td>
            <td data-title="Title"><h3><%= listing.title %></h3></td>
            <td data-title="Category"><span class="adcategories"><%= listing.description %></span></td>
            <td data-title="Price"><h3><%= listing.charge_amount %></h3></td>
            <td data-title="Action">
                <div class="btns-actions">
                <a class="btn-action btn-view"   href="./listings/<%= listing.id %>"><i class="lni-eye"></i></a>
                <a class="btn-action btn-edit"   href="./listings/<%= listing.id %>"><i class="lni-pencil"></i></a>
                <a class="btn-action btn-delete" href="./listings/<%= listing.id %>"><i class="lni-trash"></i></a>
                </div>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>