<div class="col-sm-12 col-md-4 col-lg-3 page-sidebar">
    <aside>
        <div class="sidebar-box">
            <div class="user">
                <figure>
                    <%= image_tag @user.avatar.url(:thumb),
                        alt: @user.username,
                        class: "img-fluid",
                        onerror: "this.onerror=null;this.src='assets/images/no-photo-available.png';"
                    %>
                </figure>
                <div class="usercontent">
                    <% if current_user.username == params['username'] %>
                        <h3>Hello <%= current_user.username %></h3>
                    <% else %>
                        <h3> <%= params['username'] %></h3>
                    <% end%>
                </div>
            </div>

            <nav class="navdashboard">
                <ul>
                    <li>
                        <a class="active" href="dashboard.html">
                        <%= link_to '/'+current_user.username do %>
                            <i class="lni-dashboard"></i> <span>Your listings</span>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to edit_user_registration_path do %>
                            <i class="lni-cog"></i> <span>Profile Settings</span>
                        <% end %>
                    </li>
                </ul>
            </nav>

        </div>
    </aside>
</div>