<%= render :partial => 'partials/header_page_title', locals: {
    title: 'Sign In'
} %>

<!-- Content section Start --> 
<section class="devise section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-12 col-xs-12">
                <div class="devise-form devise-area">
                    <h3>Sign In</h3>
                    <%= form_for( resource, as: resource_name, url: user_session_path(resource_name), html: {class: "devise-form", role: "form"}) do |f| %>
                        <%= devise_error_messages! %>
                        <div class="form-group">
                            <div class="input-icon">
                            <i class="lni-envelope"></i>
                            <%= f.email_field :email, placeholder:"Email", class: "form-control", autofocus: true, name: "email" %>
                            </div>
                        </div> 
                        <div class="form-group">
                            <div class="input-icon">
                            <i class="lni-lock"></i>
                            <%= f.password_field :password, placeholder:"Password", class: "form-control",name: "emai", autocomplete: "off" %>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <% if devise_mapping.rememberable? -%>
                            <div class="custom-control custom-checkbox">
                                <%= f.check_box :remember_me %>
                                <%= f.label :remember_me %>
                            </div>
                            <% end %>
                        </div>
                        <div class="text-center">
                            <%= f.submit "Log in", class: "btn btn-common log-btn" %>
                        </div>

                        <div class="form-group mt-4">
                            <ul class="form-links">
                            <li class="float-left">
                                <%= link_to "Don't have an account?", '/users/sign_up' %><br>
                            </li>
                            <li class="float-right">
                                <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                                    <%= link_to "Forgot password?", user_password_path(resource_name) %><br>
                                <% end -%>
                            </li>
                            </ul>
                        </div> 
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section End --> 