<div class="col-xs-6 col-sm-4 col-md-3 side-menu">
  <%= render :partial => 'categories/search' %>
  <%= render :partial => 'partials/side_menu', locals: {
    categories: @categories,
  } %>
</div>

<div class="col-xs-6 col-sm-8 col-md-9">
  <%= @category ? link_to('Connechub', root_path) + ' > ' + link_to(@category.name, @category) : '' %>
  <%= @subcategory ? ' > ' + @subcategory.name : '' %>
  <%= @category || @subcategory ? '<hr />'.html_safe : '' %>
</div>

<div class="col-xs-6 col-sm-8 col-md-9">
  <div class="grid">
    <% if @listings.present? %>  
      <% @listings.each do |listing| %>
        <%= render :partial => 'partials/item_card', locals: {
          listing: listing
        } %>
      <% end%>
    <% else %>
      <p>No listings found!</>
    <% end %>
  </div>
<br>
