<br>
<br>

<div class="container-fluid">
  <div class="text-center">
    <%= image_tag("connechub.svg", :alt => ENV['APP_NAME'], height: 'auto', width: '50%') %>
  </div>

  <br>
  <br>

  <div class="form-group text-center row">
    <%= form_tag search_listings_path, method: :get do |f| %>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <%= text_field_tag :search, nil, placeholder: 'keywords', class: "form-control"%>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <%= text_field_tag :location, nil, placeholder: 'city, state or zip', class: "form-control"%>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}), class: "form-control"%>
      </div>

      <div class="col-xs-12 col-sm-4 col-sm-offset-4" style="margin-top: 25px">
        <%= submit_tag 'Search', class: "btn btn-block btn-success" %>
      </div>

    <% end %>
  </div>

  <br>
  <br>
  <br>

  <div align="center" style="width: 100%;"><%= image_tag("directlistsm.jpg", :alt => "directory list") %></div>

  <br>

  <ul style="width: 75%; margin: 0px auto;" class="ch_card_container">

    <li class="ch_card">
      <div class="catg_title">
        <i class = "glyphicon glyphicon-shopping-cart"></i> <strong><%= link_to 'Sale', category_path(@sale) %></strong>
      </div>
      <ul class="catg_items">
        <% @sale.subcategories.each do |subcategory| %>
          <li><%= link_to subcategory.name, category_subcategory_path(@sale, subcategory) %></li>
        <% end %>
      </ul>
    </li>

    <li class="ch_card">
      <div class="catg_title">
        <i class = "glyphicon glyphicon-globe"></i> <strong><%= link_to 'Community', category_path(@community) %></strong>
      </div>
      <ul class="catg_items">
        <% @community.subcategories.each do |subcategory| %>
          <li><%= link_to subcategory.name, category_subcategory_path(@community, subcategory) %></li>
        <% end %>
      </ul>
    </li>

    <li class="ch_card">
      <div class="catg_title">
        <i class = "glyphicon glyphicon-cog"></i> <strong><%= link_to 'Services', category_path(@services) %></strong>
      </div>
      <ul class="catg_items">
        <% @services.subcategories.each do |subcategory| %>
          <li><%= link_to subcategory.name, category_subcategory_path(@services, subcategory) %></li>
        <% end %>
      </ul>
    </li>

    <li class="ch_card">
      <div class="catg_title">
        <i class = "glyphicon glyphicon-briefcase"></i> <strong><%= link_to 'Jobs', category_path(@jobs) %></strong>
      </div>
      <ul class="catg_items">
        <% @jobs.subcategories.each do |subcategory| %>
          <li><%= link_to subcategory.name, category_subcategory_path(@jobs, subcategory) %></li>
        <% end %>
      </ul>
    </li>

    <li class="ch_card">
      <div class="catg_title">
        <i class = "glyphicon glyphicon-home"></i> <strong><%= link_to 'Housing', category_path(@housing) %></strong>
      </div>
      <ul class="catg_items">
        <% @housing.subcategories.each do |subcategory| %>
          <li><%= link_to subcategory.name, category_subcategory_path(@housing, subcategory) %></li>
        <% end %>
      </ul>
    </li>

  </ul>
