<br /><br />

<div class="container-fluid">

  <div class="text-center">
    <%= image_tag("connechub-with-tagline.svg", :alt => ENV['NAME'], height: 'auto', width: '75%') %>
  </div>

  <br /><br />

  <div class="form-group text-center row">
    <%= form_tag search_listings_path, method: :get do |f| %>
      <div class="col-xs-12 col-sm-4">
        <%= text_field_tag :search, nil, placeholder: 'keywords', class: "form-control"%>
      </div>

      <div class="col-xs-12 col-sm-4">
        <%= text_field_tag :location, nil, placeholder: 'city, state or zip', class: "form-control"%>
      </div>

      <div class="col-xs-12 col-sm-4">
        <%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}), class: "form-control"%>
      </div>

      <div class="col-xs-12 col-sm-4 col-sm-offset-4" style="margin-top: 25px">
        <%= submit_tag 'Search', class: "btn btn-block btn-success" %>
      </div>
    <% end %>
  </div>

  <hr />

  <div class="col-xs-6 col-sm-4 col-md-2 side-menu">
    <%= render :partial => 'partials/side_menu', locals: {
      campus: @categories[0],
      community: @categories[1],
      free: @categories[4],
      h2f: @categories[3],
      housing: @categories[2],
      jobs: @categories[5],
      sale: @categories[6],
      services: @categories[7],
      unboxing: @categories[8],
    } %>
  </div>

  <div class="col-xs-6 col-sm-8 col-md-10 main-content">
    <h3>Most Recent Listings</h3>
    <% # TODO move this and the List VW implimantation into a partial %>
    <div class="grid">
      <% if @listings.present? %>
        <% @listings.each do |listing| %>
          <%= render :partial => 'partials/item_card', locals: {
            listing: listing
          } %>
        <% end %>
      <% else %>
        <p>No listings found!</>
      <% end %>
    </div>
  </div>

</div>
