<br>
<br>

<div class="container-fluid">
  <div class="text-center">
    <%= image_tag("connechub.svg", :alt => ENV['APP_NAME'], height: 'auto', width: '75%') %>
  </div>

  <br>
  <br>

  <div class="form-group text-center row">
    <%= form_tag search_listings_path, method: :get do |f| %>

    <div class="col-xs-12 col-sm-6">
      <%= text_field_tag :search, nil, placeholder: 'keywords', class: "form-control"%>
    </div>

    <!-- <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <%#= text_field_tag :location, nil, placeholder: 'city, state or zip', class: "form-control"%>
      </div>-->

    <div class="col-xs-12 col-sm-6">
      <%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}), class: "form-control"%>
    </div>

    <div class="col-xs-12 col-sm-4 col-sm-offset-4" style="margin-top: 25px">
      <%= submit_tag 'Search', class: "btn btn-block btn-success" %>
    </div>

    <% end %>
  </div>

  <br>
  <br>
  <br>


  <div align="center" style="width: 100%;">
    <%= image_tag("directlistsm.jpg", :alt => "directory list") %>
  </div>
  <br>

  <div style="width: 71%; margin: 0px auto;">

    <div class="section group">

      <div class="col span_1_of_4">

        <div class="catg_title">
          <i class="glyphicon glyphicon-shopping-cart"></i>
          <strong><%= link_to 'Sale', category_path(@sale) %></strong>
        </div>
        <div class="category_title">
          <ul>
            <% @sale.subcategories.each_with_index do |subcategory, index| %>
            <li class="landing_page">
              <%= link_to subcategory.name, category_subcategory_path(@sale, subcategory) %>
              <div class="cat_item_count">
                <%= @sale_subcat_posting_count[subcategory.id] != 0 ? z@sale_subcat_posting_count[subcategory.id] : '' %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
        <div style="height: 15px; width: 100%;"></div>

      </div>
      <div class="col span_1_of_4">

        <div class="catg_title">
          <i class="glyphicon glyphicon-globe"></i>
          <strong><%= link_to 'Community', category_path(@community) %></strong>
        </div>
        <div class="category_title">
          <ul>
            <% @community.subcategories.each_with_index do |subcategory, index| %>
            <li class="landing_page">
              <%= link_to subcategory.name, category_subcategory_path(@community, subcategory) %>
              <div class="cat_item_count">
                <%= @community_subcat_posting_count[subcategory.id] != 0 ? @community_subcat_posting_count[subcategory.id] : '' %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
        <div style="height: 15px; width: 100%;"></div>

        <div class="catg_title">
          <i class="glyphicon glyphicon-cog"></i>
          <strong><%= link_to 'Services', category_path(@services) %></strong>
        </div>
        <div style="height: 15px; width: 100%;"></div>
        <div class="category_title">
          <ul>
            <% @services.subcategories.each do |subcategory| %>
            <li class="landing_page">
              <%= link_to subcategory.name, category_subcategory_path(@services, subcategory) %>
              <div class="cat_item_count">
                <%= @services_subcat_posting_count[subcategory.id] != 0 ? @services_subcat_posting_count[subcategory.id] : '' %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
        <div style="height: 15px; width: 100%;"></div>

      </div>
      <div class="col span_1_of_4">

        <div class="catg_title">
          <i class="glyphicon glyphicon-briefcase"></i>
          <strong><%= link_to 'Jobs', category_path(@jobs) %></strong>
        </div>
        <div class="category_title">
          <ul>
            <% @jobs.subcategories.each do |subcategory| %>
            <li class="landing_page">
              <%= link_to subcategory.name, category_subcategory_path(@jobs, subcategory) %>
              <div class="cat_item_count">
                <%= @jobs_subcat_posting_count[subcategory.id] != 0 ? @jobs_subcat_posting_count[subcategory.id] : '' %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
        <div style="height: 15px; width: 100%;"></div>

      </div>
      <div class="col span_1_of_4">

        <div class="catg_title">
          <i class="glyphicon glyphicon-home"></i>
          <strong><%= link_to 'Housing', category_path(@housing) %></strong>
        </div>
        <div class="category_title">
          <ul>
            <% @housing.subcategories.each do |subcategory| %>
            <li class="landing_page">
              <%= link_to subcategory.name, category_subcategory_path(@housing, subcategory) %>
              <div class="cat_item_count">
                <%= @housing_subcat_posting_count[subcategory.id] != 0 ? @housing_subcat_posting_count[subcategory.id] : '' %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
        <div style="height: 15px; width: 100%;"></div>

        <div class="catg_title">
          <i class="glyphicon glyphicon-education"></i>
          <strong><%= link_to 'Campus', category_path(@campus) %></strong>
        </div>
        <div class="category_title">
          <ul>
            <% @campus.subcategories.each do |subcategory| %>
            <li class="landing_page">
              <%= link_to subcategory.name, category_subcategory_path(@campus, subcategory) %>
              <div class="cat_item_count">
                <%= @campus_subcat_posting_count[subcategory.id] != 0 ? @campus_subcat_posting_count[subcategory.id] : '' %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
        <div style="height: 15px; width: 100%;"></div>

        <div class="catg_title">
          <i class="glyphicon glyphicon-search"></i>
          <strong><%= link_to 'Hard to Find', category_path(@h2f) %></strong>
        </div>
        <div class="category_title">
          <ul>
            <% @h2f.subcategories.each do |subcategory| %>
            <li class="landing_page">
              <%= link_to subcategory.name, category_subcategory_path(@h2f, subcategory) %>
              <div class="cat_item_count">
                <%= @h2f_subcat_posting_count[subcategory.id] != 0 ? @h2f_subcat_posting_count[subcategory.id] : '' %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
        <div style="height: 15px; width: 100%;"></div>

        <div class="catg_title">
          <i class="glyphicon glyphicon-gift"></i>
          <strong><%= link_to 'Free', category_path(@free) %></strong>
        </div>
        <div class="category_title">
          <ul>
            <% @free.subcategories.each do |subcategory| %>
            <li class="landing_page">
              <%= link_to subcategory.name, category_subcategory_path(@free, subcategory) %>
              <div class="cat_item_count">
                <%= @free_subcat_posting_count[subcategory.id] != 0 ? @free_subcat_posting_count[subcategory.id] : '' %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
        <div style="height: 15px; width: 100%;"></div>

        <div class="catg_title">
          <i class="glyphicon glyphicon-eye-open"></i>
          <strong><%= link_to 'Unboxing', category_path(@unboxing) %></strong>
        </div>
        <div class="category_title">
          <ul>
            <% @unboxing.subcategories.each do |subcategory| %>
            <li class="landing_page">
              <%= link_to subcategory.name, category_subcategory_path(@unboxing, subcategory) %>
              <div class="cat_item_count">
                <%= @unboxing_subcat_posting_count[subcategory.id] != 0 ? @unboxing_subcat_posting_count[subcategory.id] : '' %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
        <div style="height: 15px; width: 100%;"></div>

    </div>
  </div>
  <br>

</div>
<div style="height: 45px; width: 100%;"></div>
