<!DOCTYPE html>
<html lang="en">
  <head>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- Apple PWA -->
    <link rel="apple-touch-icon" href="//assets/images/apple-touch-icon.png">

    <%= render "partials/header_meta" %>

    <% if @listing and @listing.media_file_name %>

      <title><%= ENV['NAME'].capitalize + ' - ' + @listing.title %></title>
      <meta name="name" content="<%= ENV['AWS_S3_MEDIA_DISPLAY_BUCKET'] %>">

      <!-- VideoJs assets -->
      <link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">
      <script src="https://unpkg.com/video.js/dist/video.js"></script>

      <% # add OG meta tags if on a Listing VW page. We know this as that is the only view to have a @listing object
      set_meta_tags og: {
        description: 'Buy, Sell, Promote and Watch Local Video Classifieds.' + @listing.title,
        image:       'https://' + ENV['AWS_S3_MEDIA_DISPLAY_BUCKET'] + '.s3' + (ENV['REGION'] == 'us-east-1' ? "" : "-" + ENV['REGION']) + '.amazonaws.com/' + URI::encode(@listing.media_file_name) + '-4m-00001.png',
        image_src:   'https://' + ENV['AWS_S3_MEDIA_DISPLAY_BUCKET'] + '.s3' + (ENV['REGION'] == 'us-east-1' ? '' : '-' + ENV['REGION']) + '.amazonaws.com/' + URI::encode(@listing.media_file_name) + '-4m-00001.png',
        title:       @listing.title,
        type:        'website',
        url:         'https://' + ( ENV["STAGE"] == 'prd' ? 'www' : ENV["STAGE"]) + '.' + ENV["NAME"] + '.com/listings/' + params[:id],
      } %>
      <%= display_meta_tags %>
      <meta property="fb:app_id" content="0" />
    <% else %>
      <title><%= ENV['NAME'].capitalize %></title>
    <% end %>

    <%= csrf_meta_tags %>

    <%= render "partials/google_analytics" %>

  </head>
  <body>

    <%= render "partials/header" %>

    <%= yield %>

    <%= render "partials/footer" %>

    <%= javascript_include_tag 'application' %>

  </body>
</html>
