<!DOCTYPE html>
<html lang="en">
  <head>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- Apple PWA -->
    <link rel="manifest" href="//manifest.json">
    <link rel="apple-touch-icon" href="//apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/line-icons.css">
    <link rel="stylesheet" type="text/css" href="/assets/fonts/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="/assets/fonts/all.min.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="/assets/css/slicknav.css">
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">

    <%= render "partials/header_meta" %>

    <% if @listing and @listing.media_file_name %>

      <title><%= ENV['NAME'].capitalize + ' - ' + @listing.title %></title>
      <meta name="name" content="<%= ENV['AWS_S3_MEDIA_DISPLAY_BUCKET'] %>">

      <!-- VideoJs assets -->
      <link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">
      <script src="https://unpkg.com/video.js/dist/video.js"></script>

      <% # add OG meta tags if on a Listing VW page. We know this as that is the only view to have a @listing object
      set_meta_tags og: {
        description: 'Buy, Sell, Promote and Watch Local Video Classifieds.' + @listing.title,
        image:       'https://' + ENV['AWS_S3_MEDIA_DISPLAY_BUCKET'] + '.s3' + (ENV['REGION'] == 'us-east-1' ? "" : "-" + ENV['REGION']) + '.amazonaws.com/' + URI::encode(@listing.media_file_name) + '-4m-00001.png',
        image_src:   'https://' + ENV['AWS_S3_MEDIA_DISPLAY_BUCKET'] + '.s3' + (ENV['REGION'] == 'us-east-1' ? '' : '-' + ENV['REGION']) + '.amazonaws.com/' + URI::encode(@listing.media_file_name) + '-4m-00001.png',
        title:       @listing.title,
        type:        'website',
        url:         'https://' + ( ENV["STAGE"] == 'prd' ? 'www' : ENV["STAGE"]) + '.' + ENV["NAME"] + '.com/listings/' + params[:id],
      } %>
      <%= display_meta_tags %>
      <meta property="fb:app_id" content="0" />
    <% else %>
      <title><%= ENV['NAME'].capitalize %></title>
    <% end %>

    <%= csrf_meta_tags %>

    <%= render "partials/google_analytics" %>

  </head>
  <body>

    <%= render "partials/header" %>

    <%= yield %>

    <%= render "partials/footer" %>

    <%= javascript_include_tag 'application' %>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/assets/js/jquery-min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/wow.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.slicknav.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/form-validator.min.js"></script>
    <script src="/assets/js/contact-form-script.min.js"></script>
    <script src="/assets/js/summernote.js"></script>
    
  </body>
</html>
